@charset "UTF-8";
.cell--table {
  table-layout: fixed;
  width: 100%;
  font-size: 18px;
  text-align: center;
  border-collapse: collapse;
  border-spacing: 0;
}
.cell--table tr {
  background-color: #d5ffc7;
}
.cell--table tr:nth-child(2n) {
  background-color: #bcbcbc;
  }
.cell--table th {
  padding: 10px;
  line-height: 26px;
  border: 1px solid #000000;
  background-color: #319c4a;
}
.cell--table tr:last-child {
  border-top: 1px double rgb(255,255,255);
}
.cell--table td {
  padding: 10px;
  line-height: 22px;
  border: 1px solid #000000;
}